/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}

header nav ul{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Join Form ------- */
#join img{
  width: 100%;
}
form {
  border: 2px solid #6b1a22;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

.join-container {
  display: flex; 
  justify-content: space-between;
}

/* -------  About ------- */
.content-img {
  width: 100%;
  margin: 10px auto;
}

.container {
  display: flex;
  flex-direction: column;
}

/* -------  Download ------- */



/* -------  Blog ------- */



/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and  (min-width: 768px) {

  p {
    line-height: 1rem;
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }

  header nav {
    margin-top: 10px; 
  }

  #join {
    display: flex; 
  }

  #join img {
    width: 60%;
    margin-right: 20px;
  }

  .join-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%; 
  }
  
  form {
    width: 80%;
  }

 .container {
  flex-direction: row; 
  align-items: center;
 }

 .content-img {
  width: 22%;
  height: 15%;
  margin: 10px; 
 }

 .download-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
 }

 #blog .container {
    flex-direction: column;;
 }

 .blog-post{
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 10px;
 }

 .blog-post img {
  width: 100%;
  height: auto; 
 }
 .blog-container {
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: center;
 }

}